:root {
  --primary-color: #436C5D;
  --light-bg: #E2E9E8;
  --accent-color: #F9BF29;
  --text-dark: #1a1a1a;
  --card-bg: #ffffff;
  --shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--light-bg);
  color: var(--text-dark);
}

.page-wrapper {
  display: flex;
  min-height: 100vh;
}

.left-sidebar {
  width: 260px;
  background: var(--primary-color);
  border-right: 1px solid #e5e5e5;
  min-height: 100vh;
  color: #fff;
}

.brand-logo {
  background-color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  margin-top: 10px;
}

.sidebar-nav {
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 10px;
  max-height: calc(100vh - 80px);
}

.sidebar-nav::-webkit-scrollbar {
  width: 6px;
}

.sidebar-nav::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

.sidebar-nav ul {
  padding-left: 0;
  margin-bottom: 0;
}

.sidebar-item {
  position: relative;
  margin-bottom: 5px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  color: #fff;
  text-decoration: none;
  transition: background 0.2s, color 0.2s, border-radius 0.2s;
  cursor: pointer;
  border-radius: 8px;
}

.sidebar-link.active, .sidebar-link:hover {
  background: var(--accent-color) !important;
  color: #333 !important;
  border-radius: 8px;
}

.sidebar-link.has-arrow:after {
  content: '\25B6';
  font-size: 0.8em;
  margin-left: auto;
  transition: transform 0.2s;
}

.sidebar-item.open > .sidebar-link.has-arrow:after {
  transform: rotate(90deg);
}

.first-level {
  display: none;
  /* background: #f8f9fa; */
  padding-left: 0;
}

.sidebar-item.open > .first-level {
  display: block;
}

.first-level .sidebar-link {
  padding-left: 35px;
  font-size: 0.97em;
  color: #fff;
  /* background: #f8f9fa; */
  border-radius: 8px;
}

.first-level .sidebar-link:hover {
  background: var(--accent-color) !important;
  color: #333 !important;
  border-radius: 8px;
}

.body-wrapper {
  margin-left: 0;
  flex: 1;
  padding: 20px;
  background-color: var(--light-bg);
}

.app-header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.card {
  background-color: var(--card-bg);
  padding: 20px;
  border-radius: 12px;
  box-shadow: var(--shadow);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
}

.card h2 {
  color: var(--primary-color);
}

.card h5 {
  color: #666;
}

.ps-3 {
  padding-left: 10px !important;
}